[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
matplotlib = "*"
ipython = "==5"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"
